<br>
<div>
  <h2>Budgeting</h2>
  <div>
    <form data-ng-submit="ctrl.save()" name="budgetForm">
      <table>
        <tr>
          <td>UUID</td>
          <td><input type="text" class="tr" data-ng-model="item.id" data-ng-disabled="true" /></td>
          <td>Last Modified</td>
          <td><input type="text" class="tr" data-ng-model="item.lastModifiedDate" data-ng-disabled="true" /></td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td><input type="text" class="tr" data-ng-model="item.startDate" data-ng-required="true" /></td>
          <td>End Date</td>
          <td><input type="text" class="tr" data-ng-model="item.endDate" /></td>
        </tr>
        <tr>
          <td>Account</td>
          <td>
            <select data-ng-model="item.account" data-ng-options="a.name for a in accounts | orderBy: 'accNum' track by a.id " data-ng-required="true"></select>
          </td>
          <td>Amount</td>
          <td><input type="text" class="tr" data-ng-model="item.amount" data-ng-required="true" /></td>
        </tr>
        <tr>
          <td>Period Type</td>
          <td>
            <select data-ng-model="item.periodType" data-ng-options="i for i in ctrl.periodTypes" data-ng-required="true"></select>
          </td>
          <td>Day of Period</td>
          <td><input type="text" class="tr" data-ng-model="item.dayOfPeriod" data-ng-required="true"/></td>
        </tr>
        <tr>
          <td>Category</td>
          <td>
            <select data-ng-model="item.category" data-ng-options="cat.fullName for cat in categories | orderBy: 'fullName' track by cat.id ">
              <option value="">uncategorized</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td colspan="3"><input type="text" class="tr" data-ng-model="item.description" data-ng-required="true" /></td>
        </tr>
      </table>
      
      <input type="button" value="Clear" data-ng-click="ctrl.clear()"/>
      <input type="submit" value="Submit" data-ng-disabled="budgetForm.$invalid"/>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" value="Delete" data-ng-click="ctrl.deleteItem(item)"/>
    </form>
  </div>
  
  <br><hr><br>
  
  <table class="ng-cloak">
    <tr>
      <th class="desc">Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Amount</th>
      <th>Period Type</th>
      <th>Day of Period</th>
      <th>Account</th>
      <th>Category</th>
    </tr>
    
    <tr ng-repeat="i in budgetItems" id="{{i.id}}" class="resultRow" style="cursor: pointer;" 
      ng-class="{'hover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"
      ng-click="ctrl.itemClicked(i)">
      <td data-ng-bind="i.description" class="t150"></td>
      <td data-ng-bind="i.startDate" class="t150"></td>
      <td data-ng-bind="i.endDate" class="t150"></td>
      <td data-ng-bind="i.amount | currency : '£' : 2" class="t100 right"></td>
      <td data-ng-bind="i.periodType" class="t150"></td>
      <td data-ng-bind="i.dayOfPeriod"></td>
      <td data-ng-bind="i.account.name" class="t150"></td>
      <td data-ng-bind="i.category.fullName" class="t100"></td>
    </tr>
  </table>
</div>
