<br>
<div>
  <h2>Report: Category Summary</h2>

  <form>
    <select id="accList" name="accList" size="5" multiple data-ng-model="selectedAccounts">
      <option data-ng-repeat="a in accounts" value="{{ a.id }}">{{ a.name }} [{{ a.accNum }}]</option>
    </select>
    Date from:<md-datepicker data-ng-model="startDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
    Date to:<md-datepicker data-ng-model="endDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>

    <input type="button" value="Reset" data-ng-click="accReset()"/>
    <input type="button" value="Update" data-ng-click="accUpdate()" />
  </form>

  <br><hr><br>

  <table class="ng-cloak">

    <tr>
      <th>Category</th>
      <th data-ng-repeat="(key, value) in headings">{{ key }}</th>
      <th>Running Budget</th>
    </tr>

    <tr data-ng-repeat="cat in categorySummary | filter:filterCats | orderBy: 'category.fullName'">
      <td data-ng-bind="cat.fullName" class="t150"></td>
      <td data-ng-repeat="(key, value) in headings" data-ng-bind=" cat.months[key] | currency : '£' : 2 " class="t150" style="{{ ctrl.budgetStatus(cat.months[key], cat.category.monthlyBudget) }}"></td>
      <td style="{{ ctrl.totalStatus(cat) }}">{{ cat }}   {{ ctrl.total(cat) | currency : '£' : 2 }} (of {{ ctrl.budget(cat) | currency : '£' : 2 }})</td>
    </tr>

    <tr data-ng-repeat="cat in categorySummary | filter: 'Uncategorized' ">
      <td data-ng-bind="cat.fullName" class="t150"></td>
      <td data-ng-repeat="(key, value) in headings" data-ng-bind=" cat.months[key] | currency : '£' : 2 " class="t150"></td>
      <td style="{{ ctrl.totalStatus(cat) }}">{{ ctrl.total(cat) | currency : '£' : 2 }} (of {{ ctrl.budget(cat) | currency : '£' : 2 }})</td>
    </tr>

    <tr data-ng-repeat="cat in categorySummary | filter: 'All Categories' ">
      <td data-ng-bind="cat.fullName" class="t150"></td>
      <td data-ng-repeat="(key, value) in headings" data-ng-bind=" cat.months[key] | currency : '£' : 2 " class="t150"></td>
      <td style="{{ ctrl.totalStatus(cat) }}">{{ ctrl.total(cat) | currency : '£' : 2 }} (of {{ ctrl.budget(cat) | currency : '£' : 2 }})</td>
    </tr>

  </table>

  <br><hr><br>


</div>