* {
  margin: 0;
  padding: 0;
}
body {
  /*background-color: #eee;*/
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

table { 
  border-collapse: collapse;
}
td, th {
  border: 1px solid #aaa;
  padding: 0.1rem 0.5rem;
}
th {
  /*background-color: #ddd;*/
}
input.tran {
  width: 350px;
}
tr.hover {
  background-color: #fff;
}
tr.selected {
  font-weight: bold;
}
.right {
  text-align: right;
}

td .tr {
  width: 350px;
}

.amountRow {
  background-color: white;
}
.balanceRow {
  background-color: #eea;
  border-bottom: 3px solid #999;
}
.paleBalanceRow {
  background-color: #ffc;
}

    .acc {
      width: 300px;
    }
    

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    
    table.acc {
      border: 1px solid black;
      table-layout: fixed;
      width: 600px;
    }
    
    table.acc td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    table.acc .t250 {
      width: 250px;
    }
    
    .t500 {
      max-width: 500px;
    }
    
    table.acc .t150 {
      width: 150px;
    }
    
    table.acc .t100 {
      width: 100px;
    }

.recerr {
    color: red;
}

.budget {
  background-color: #fee;
}

/*
#wrapper {
  margin: 0 auto;
  padding: 0 30px;
  width: 500px;
  background-color: #ccddee;
  height: 100%;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 5px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
nav {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  display: inline-block;
  width: 33%;
  height: 100%;
  padding: 5px 0;
  margin: 3px;
  text-align: center;
  background-color: #fff;
}
nav li.current {
  background-color: #333;
  color: #fff;
}
a {
  color: #333;
}
#banner {
  max-width: 100%;
  margin: 15px 0;
}
article p {
  margin: 5px 0 15px 0;
}
article p.break {
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 16px;
}
article ol {
  list-style-position: inside;
  padding: 0 15px;
}
.caption {
  padding: 0 15px;
}

@media screen and (max-width: 560px) {
  #wrapper {
    margin: 0;
    padding: 0 5%;
    width: 90%;
  }
  p {}
  
}
*/

