<?xml version="1.0" encoding="UTF-8"?>
<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: WileySPA configuration
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <!-- checkstyle 5 change - new top level module - TreeWalker is not allowed as a parent of FileTabCharacter -->
    <!-- checkstyle 5 change - new top level module - TreeWalker is not allowed as a parent of FileLength -->
    <module name="FileTabCharacter"/>
    <module name="FileLength"/>
    <module name="TreeWalker">
        <module name="FileContentsHolder"/>
        <module name="JavadocMethod">
            <property name="severity" value="ignore"/>
            <property name="scope" value="public"/>
            <property name="excludeScope" value="private"/>
            <property name="allowMissingPropertyJavadoc" value="true"/>
        </module>
        <module name="JavadocType">
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocVariable">
            <property name="severity" value="ignore"/>
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocStyle">
            <property name="checkFirstSentence" value="false"/>
        </module>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AvoidStarImport">
            <property name="severity" value="ignore"/>
        </module>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="LineLength">
            <property name="max" value="160"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber">
            <property name="max" value="10"/>
        </module>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="OperatorWrap">
            <property name="severity" value="ignore"/>
        </module>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>

        <module name="ModifierOrder"/>
        <module name="RedundantModifier">
            <property name="severity" value="ignore"/>
        </module>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock">
            <property name="tokens" value="LITERAL_DO,LITERAL_FINALLY,LITERAL_TRY,STATIC_INIT"/>
        </module>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
<!--        <module name="DoubleCheckedLocking"/> -->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField">
            <property name="severity" value="ignore"/>
            <property name="ignoreConstructorParameter" value="true"/>
            <property name="ignoreSetter" value="true"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber">
            <property name="tokens" value="NUM_DOUBLE,NUM_FLOAT,NUM_LONG"/>
        </module>
        <module name="MissingSwitchDefault"/>
        <module name="RedundantThrows">
            <property name="severity" value="ignore"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="ArrayTypeStyle"/>
        <module name="TodoComment">
            <property name="severity" value="ignore"/>
        </module>
        <module name="UpperEll"/>
    </module>
    <module name="PackageHtml">
        <property name="severity" value="ignore"/>
    </module>
    <module name="NewlineAtEndOfFile">
        <property name="severity" value="ignore"/>
    </module>
    <module name="Translation"/>
    <module name="SuppressionCommentFilter"/>
    <!-->
    <module name="SuppressionFilter">
        <property name="file" value="${basedir}/.checkstyle.suppress.xml"/>
    </module>
    -->
</module>
